* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right,#F4B32E, #FFD553);
}

/*IMAGEM PRINCIPAL*/
.logo-principal {
  text-align: center;
}

/*FRASE DE INSTRUÇÃO PARA SELECIONAR UM TAMANHO DE PIZZA*/
.label-phrase {
  color: #fff;
  text-align: center;
  margin-bottom: 2%;
}

/*ABA DE SELECIONAR O TAMANHO DAS PIZZAS*/
.sizes {
  text-align: center; 
}

.size-options {
  padding: 1%;
  border: 1px solid #88401e;
  border-radius: 5px;
  background-color: #dbc169;
}

.size-options option {
  background-color: #daba51;
}

.back {
  display: scroll;
  position: fixed;
  bottom: 5px;
  right: 10px;
}

.back img {
  width: 32px;
}