* {
  margin: 0;
  padding: 0;
}

body {
  /*background: url(../images/pizzabg.jpg);*/
  background: url("../images/fundo-pizza.jpg") no-repeat;
  animation: move 0.8s infinite alternate;
}

@keyframes move {
  0% {
      background-position: 0px -5px;
  }
}

.logo-principal {
  text-align: center;
}

.opcoes {
  text-align: center;
}

.opcoes a img {
  width: 3.5em;
}

p {
  color: #fff;
  text-align: center;
  margin-bottom: 2%;
}

.icons {
  display: scroll;
  position: fixed;
  bottom: 5px;
  right: 194px;
}

.icons img {
  width: 32px; 
}
